@font-face {
  font-family: "Raleway", sans-serif;

  src: url("fonts/Raleway-Thin.ttf") format("truetype"),
    url("fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway", sans-serif;
  width: auto;
}
/*header*/

#header a {
  text-decoration: none;
  color: black;
}
#header a:hover {
  text-decoration-line: overline;
  text-decoration-color: #0065fc;
  color: #0065fc;
}
p {
  font-style: normal;
  margin-left: 8px;
  margin-top: 8px;
}
strong {
  font-weight: bold;
  color: #0065fc;
}

#header {
  display: flex;
  width: 100%;
  height: 61px;
}

.header__logo {
  padding-left: 15px;
}
#header ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: auto;
}

#header__nav {
  display: flex;
  width: auto;
  position: absolute;
  right: 5px;
}
/*Trouver-votre-hebergement*/

#trouvez__hebergement {
  padding: 0px 0px 0px 15px;
}
/*barre de recherche*/
.recherche {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}
.fa-map-marker-alt {
  color: black;
  background-color: #f2f2f2;
  height: 32px;
  width: 60px;
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
  text-align: center;
  padding-top: 15px;
}
.position {
  display: flex;
}
.locationbar {
  height: 42px;
  border-left: none;
  border-right: none;
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;

  color: black;
}
.searchbutton {
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border-radius: 0px 8px 8px 0px;
  border: none;
  height: 45px;
  width: 100px;
}
/*liste filtres*/

#liste__filtres {
  width: auto;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  display: inline-flex;
}
#filtres {
  text-align: left;
  align-content: center;
  display: flex;
  align-items: center;

  font-weight: normal;
}
.option__filtre {
  border: 1px #f2f2f2 solid;
  border-radius: 20px 20px 20px 20px;
  width: auto;
  list-style: none;
  height: 30px;
  display: block;
  padding: 0px 10px 0px 0px;
}

.option__filtre i {
  color: #0065fc;
  background-color: #deebff;
  border: 2px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
  float: left;
}

.option__filtre:hover {
  transform: scale(1.2);
}

.option__filtre span {
  float: left;
  color: black;
}
/*infos*/
.fa-info {
  color: #0065fc;
  border: 1px #f2f2f2 solid;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  float: left;
  margin-right: 12px;
}
.info {
  margin-right: 12px;
  font-size: 1em;
  padding-bottom: 0px;
}
/*container-hebergements*/
#container__principal {
  display: flex;
  display: inline;
}

figure {
  justify-content: left;
}
#hebergement a {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

#hebergement {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 62%;
  float: left;
}
.figcaption__hebergement strong {
  color: black;
  font-weight: bold;
}
.figcaption__hebergement {
  color: black;
}
h1.titre {
  font-size: 1.5em;
  width: 100%;
  height: 25px;
}
.element img {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.element {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 220px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 5px grey;
  margin: 0px 15px 40px 0px;
}

.figcaption__hebergement h2 {
  margin: 6px 1px;
}
.bluestar {
  color: #0065fc;
}
.greystar {
  color: grey;
  margin-left: 0px;
}
#rating__stars {
  margin-top: 10px;
}
#rating__stars_populaire {
  margin-top: 60px;
}
#rating__stars_populaire_second {
  margin-top: 40px;
}
.figcaption__logement strong {
  color: black;
  font-weight: bold;
}
/*container populaires*/
#populaires a {
  text-decoration: none;
  color: black;
}
#populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: right;
  margin-left: 5px;
  width: 30%;
  float: right;
}
.fa-chart-line {
  padding: 0px 0px 20px 130px;
}
.logement img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.logement__second img {
  width: 60%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.logement__second {
  display: flex;
  flex-direction: row;
  width: 397px;
  height: 179px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 5px grey;
  margin: 0px 20px 20px 15px;
}
.logement {
  display: flex;
  flex-direction: row;
  width: 397px;
  height: 178px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 5px grey;
  margin: 0px 20px 20px 15px;
}
.figcaption__logement h2 {
  margin-left: 0px;
}

.figcaption__logement {
  padding: 10px;
  margin-left: 10px;
}
/*container activities*/
#activites {
  display: flex;
  width:100%;
  justify-content: center;
}
.titre_activites
{
  font-size: 1.5em;
  width: 100%;
  height: 25px;
  margin-left: 43px;
}
#container__secondaire a {
  text-decoration: none;
  color: black;
}

#container__secondaire {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin-bottom: 50px;
  height: 600px;
  
}

.big__picture {
  height: 30%;
  padding-bottom: 50px;
  box-shadow: 6px 6px 5px grey;
  height: 435px;
  width: 340px;
  margin-right: 10px;
  margin-left: 40px;

  border-radius: 20px;
}
.big__picture img {
  width: 100%;
  object-fit: cover;
  height: 435px;
  border-radius: 20px 20px 0px 0px;
}
.first__picture {
  padding-bottom: 15px;
  box-shadow: 6px 6px 5px grey;
  margin-left: 10px;
  width: 340px;
  border-radius: 20px;
}
.first__picture img {
  width: 100%;
  object-fit: cover;
  height: 220px;
  border-radius: 20px 20px 0px 0px;
}
.second__picture {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  box-shadow: 6px 6px 5px grey;
  width: 340px;
  border-radius: 20px;
}
.second__picture img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
.second__column
{
  width: 330px;
}

/*footer*/
#footer {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}
.footer__option {
  width: 50%;
}
#footer a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
  margin: 10px;
  width: 100%;
}
h2 {
  font-size: 1em;
  margin: 6px 15px;
}
h3 {
  margin-left: 10px;
  font-size: 1em;
}
#footer h3 {
  font-size: 1em;
  margin-left: 50px;
}
#filtres span {
  font-size: 0.9em;
  margin: 6px 10px;
}
