@font-face {
  font-family: "Raleway", sans-serif;

  src: url("Raleway-Thin.ttf") format("truetype"),
    url("fonts/Raleway-Bold.ttf") format("truetype"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway-Thin", sans-serif;
}
/*header*/

#header a {
  text-decoration: none;
  color: black;
}
#header a:hover {
  text-decoration-line: overline;
  text-decoration-color: #0065fc;
  color: #0065fc;
}
p {
  font-style: normal;
  margin-left: 8px;
  margin-top: 8px;
}
strong {
  font-weight: bold;
  color: #0065fc;
}

#header {
  display: flex;
  width: 100%;
  height: 61px;
}

.header__logo {
  padding-left: 15px;
}
#header ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: auto;
}

#header__nav {
  display: flex;
  width: auto;
  position: absolute;
  right: 5px;
}
/*Trouver-votre-hebergement*/
.titre {
  height: 20px;
}
#trouvez__hebergement {
  padding: 0px 0px 0px 15px;
}
/*barre de recherche*/
.recherche {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}
.fa-map-marker-alt {
  color: black;
  background-color: #f2f2f2;
  height: 32px;
  width: 60px;
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
  text-align: center;
  padding-top: 15px;
}
.position {
  display: flex;
}
.locationbar {
  height: 42px;
  border-left: none;
  border-right: none;
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;

  color: black;
}
.searchbutton {
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border-radius: 0px 8px 8px 0px;
  border: none;
  height: 45px;
  width: 100px;
}
/*liste filtres*/

#liste__filtres {
  width: auto;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  display: inline-flex;
}
#filtres {
  text-align: left;
  align-content: center;
  display: flex;
  align-items: center;

  font-weight: normal;
}
.option__filtre {
  border: 1px #f2f2f2 solid;
  border-radius: 20px 20px 20px 20px;
  width: auto;
  list-style: none;
  height: 30px;
  display: block;
  padding: 0px 10px 0px 0px;
}

.option__filtre i {
  color: #0065fc;
  background-color: #deebff;
  border: 2px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
  float: left;
}

.option__filtre:hover {
  transform: scale(1.2);
}

.option__filtre span {
  float: left;
  color: black;
}
/*infos*/
.fa-info {
  color: #0065fc;
  border: 1px #f2f2f2 solid;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  float: left;
}
.info {
  float: left;
  margin-right: 12px;
  font-size: 0.8em;
  padding-bottom: 0px;
}
/*container-hebergements*/
#container__principal {
  display: flex;
  vertical-align: top;
  justify-content: space-between;
}

figure {
  justify-content: left;
}
#hebergement a {
  text-decoration: none;
  color: black;
}

#hebergement {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  flex-wrap: wrap;
  margin: 0px auto;
}
.figcaption__hebergement strong {
  color: black;
  font-weight: bold;
}
.figcaption__hebergement {
  color: black;
}
h1.titre {
  font-size: 1.5em;
  height: 25px;
  width: 100%;
  margin: 8px;
}
.element img {
  width: 100%;
  height: 179px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.element {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 250px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 5px grey;
  margin: 0px 15px 15px 3px;
}

.figcaption__hebergement h2 {
  margin: 6px 1px;
}
.bluestar {
  text-align: start;
  color: #0065fc;
  margin-right: 0px;
  margin-top: 5px;
}
.greystar {
  color: grey;
  margin-left: 0px;
}

.figcaption__logement strong {
  color: black;
  font-weight: bold;
}
/*container populaires*/
#populaires a {
  text-decoration: none;
  color: black;
}
#populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: right;
  width: 30%;
  margin: 0px auto;
}
.fa-chart-line {
  padding: 0px 0px 20px 130px;
}
.logement img {
  width: 100%;
  height: 179px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
.logement {
  display: flex;
  flex-direction: row;
  width: 385px;
  height: 178px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 5px grey;
  margin: 0px 15px 15px 3px;
}
.figcaption__logement h2 {
  margin: 0px;
}

.figcaption__logement {
  padding: 10px;
}
/*container activities*/
.activites__mini {
  display: flex;
  flex-direction: column;
}
#activites a {
  text-decoration: none;
  color: black;
}
#activites {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0px;
}
.activites1 img {
  width: 100%;
  height: 409px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.activites1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  padding: auto;
  box-shadow: 6px 6px 5px grey;
}

.activites2 img {
  width: 100%;
  height: 173px;
  border-radius: 20px 20px 0px 0px;
}
.activites2 {
  width: 250px;
  height: 208px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 5px grey;
}
/*footer*/
#footer {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}
.footer__option {
  width: 50%;
}
#footer a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
  margin: 10px;
  width: 100%;
}
h2 {
  font-size: 1em;
  margin: 6px 15px;
}
h3 {
  margin-left: 10px;
  font-size: 1em;
}
#footer h3 {
  font-size: 1em;
  margin-left: 50px;
}
#filtres span {
  font-size: 0.9em;
  margin: 6px 10px;
}
