#logement1
{
    display: flex;
    background-color:hotpink;
    width: 400px;
    height: 180px;
    border-radius: 20px;
    padding: 8px;
    margin-top: 52px;
    margin-right: 20px;
    box-shadow:6px 6px 5px grey;
}

#description
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.images
{
    position: relative;
    width: 240px;
    height: 180px;
    overflow: hidden;
    border-radius:20px 0px 0 20px;
}
.etoiles
{
    text-align:start;
    color: blue;
    margin-top: 50px;
    
}
img 
{
	width:auto;
    height:200px;
}
